
/*.mainWindow{
  float: left;
  width: 100%;
}
*/
.AppWindow{
  height: 100vh;
}

.headerClassHolder{
    background: rgb(204, 255, 204);
}
.chatWindow{

    display: flex;
    flex-direction: row;
    justify-content: stretch;
    flex: 1;
    height: calc(100vh - 60px);
    /*height:800px;*/
    z-index:-1;
    background-image:url(./img.jpg);

}

.MuiCardActions-root{
  width: 80vw;
}

.channelListSideBar{
  z-index:100;
}

.inputFieldClass{
  /*overflow: auto;*/
  text-overflow: ellipsis;
  overflow: auto;
  /*overflow-x: auto;*/
}

.chatAndMessageWindow{
  height: calc(100vh - 160px);
}
.classesroot{
  height: calc(100vh - 160px);
  /*background: linear-gradient(rgb(100, 245, 56) 0%, rgb(255, 255, 255) 100%);*/
  background: linear-gradient(rgb(204, 255, 204) 0%, rgb(255, 255, 255) 100%);
  /*background: linear-gradient(rgb(100, 245, 56) 0%, rgb(74, 0, 224) 100%);*/
}

.butForSmile{
  width: 62px;
}

.listMessageFrame{
  height: calc(100vh - 160px);
  overflow-y: auto; /* прокрутка по вертикали */
}
.messageStumpSelf{
    word-break: break-word;
    white-space: pre-wrap;
    width: fit-content;
    line-height: 1.5;
    font-size: 13px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    text-align: left;
    box-shadow: rgba(103, 19, 176, 0.06) 0px 6px 10px;
    color: rgb(88, 88, 88);
    border-radius: 0px 10px 10px;
    padding: 16px;
    background: rgb(204, 255, 204);
}

.messageStump{
    word-break: break-word;
    white-space: pre-wrap;
    width: fit-content;
    line-height: 1.5;
    font-size: 13px;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    text-align: left;
    box-shadow: rgba(103, 19, 176, 0.06) 0px 6px 10px;
    color: rgb(88, 88, 88);
    border-radius: 0px 10px 10px;
    padding: 16px;
    background: rgb(255, 255, 255);
}

.nameStump{
    font-size: 12px;
    font-family: Roboto, sans-serif;
    font-weight: 500;
    text-transform: capitalize;
    color: rgb(88, 88, 88);
}

.timeStump{
    font-size: 11px;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    margin-left: 14px;
    color: rgb(88, 88, 88);
}
/*background: linear-gradient(rgb(142, 45, 226) 0%, rgb(74, 0, 224) 100%);*/

.pickerStyle{
  position: absolute;
  bottom: 80px;
  right: 80px;
  align-self: flex-end;
  z-index:100;
}
* {
        margin: 0;
        padding: 0;
      }
      body {
        width: 100%;
        margin: 0px auto;
        background-color: #fff;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
          "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
          sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
      code {
        font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
          monospace;
      }
      .top {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
      }