header {
    background-color: #fafafa;
    border-bottom: 1px solid #eee;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
    box-sizing: border-box;
}

.name-input {
    margin-left: auto;
    padding: 10px;
    margin-right: 5px;
}


.LogoHeader{
    flex-basis: 200px;
    flex-grow: 0;
    flex-shrink: 0;
}